.d-container {
    margin: 50px;
    height: 850px;
}

.board {
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-rows: repeat(8, 100px);
    &__row {
        display: grid;
        grid-template-columns: repeat(8, 100px);
        &:nth-of-type(odd) {
            .board__cell:nth-of-type(even) {
                background-color: black;
                color: white;
            }
        }
        &:nth-of-type(even) {
            .board__cell:nth-of-type(odd) {
                background-color: black;
                color: white;
            }
        }
    }
    &__cell {
        height: 100px;
        width: 100px;
    }
}